<script type="text/ng-template" id="category_renderer.html">
  {{category.name}}

  <table border="1">
    <tr ng-repeat="merchant in category.merchants | filter:query | orderBy:orderProp">

      <td><a href="#/detail/{{merchant.id}}">{{merchant.name}}</a></td>
      <td><a href="{{ merchant.website }}">{{ merchant.website }}</a></td>
      <td>{{ merchant.short_description }}</td>
    </tr>
  </table>
  <ul ui:sortable ng:model="category.child_categories">
    <li ng-repeat="category in category.child_categories" ng-include="'category_renderer.html'"></li>
  </ul>
</script>

<h3>List of merchants accepting Freicoin:</h3>

<p> 
  There are currently {{merchant_list.length}} merchants that accept
  Freicoin as payment registered and validated.
</p>

<p ng-show="django.user_authenticated">
<br>
<a href="{{ django.urls.join }}" class="btn btn-primary">Add new Merchant</a>
<br>
</p>

<div>
  Search: <input ng-model="query">
  Sort by:
  <select ng-model="orderProp">
    <option value="name">Alphabetical</option>
    <option value="-id">Newest</option>
    <option value="id">Oldest</option>
  </select>
</div>

<hr>

<ul ui:sortable ng:model="categories_tree"> 
  <li ng-repeat="category in categories_tree" ng-include="'category_renderer.html'"></li>
</ul>
