
  <!-- TITTLES AND NAVIGATION -->
<div ng-show="type == 'validated'">
  <h3>List of merchant accepting Freicoin:</h3>

  <p> 
    There are currently {{merchant_count}} merchants that accept
    Freicoin as payment registered and validated.
  </p>

  <p>
    See <a href="#/candidates">candidates list</a>.
  </p>

  <p ng-show="django.trade_admin">
    See <a href="#/blocked">blocked merchants list</a>.
  </p>
</div>

<div ng-show="type == 'candidates'">
  <h3>List of candidate merchants:</h3>

  <p>
    There are currently {{merchant_count}} candidate merchants
    requesting free advertisement on this web.
  </p>

  <p>
    Go back to <a href="#/">merchant list</a>.
  </p>
</div>

<div ng-show="type == 'blocked'">
  <h3>List of blocked merchants:</h3>

  <p> 
    There are currently {{merchant_count}} blocked merchants.
  </p>

  <p>
    Go back to <a href="#/">merchant list</a>.
  </p>
</div>

  <!-- BUTTONS -->
<p ng-show="django.user_authenticated">
  <br>
  <a href="#/join" class="btn btn-primary">Add new Merchant</a>
  <br>
</p>

  <!-- SEARCH -->
<div>
  Search: <input ng-model="query">

  Category: 
  <select ng-model="searchCategory"
     ng-options="category.name as category.name for category in categories_tree">
    <option value="">All</option>
  </select>

  Sort by:
  <select ng-model="orderProp">
    <option value="name">Alphabetical</option>
    <option value="-id">Newest</option>
    <option value="id">Oldest</option>
  </select>
</div>

<hr>

  <!-- LIST -->
<script type="text/ng-template" id="category_renderer.html">
  {{category.name}}

  <table border="1">
    <tr ng-repeat="merchant in category.merchants | filter:query | orderBy:orderProp">

      <td><a href="#/detail/{{merchant.id}}">{{merchant.name}}</a></td>
      <td><a href="{{ merchant.website }}">{{ merchant.website }}</a></td>
      <td>{{ merchant.short_description }}</td>
    </tr>
  </table>
  <ul ui:sortable ng:model="category.child_categories">
    <li ng-repeat="category in category.child_categories | orderBy:orderProp" 
        ng-include="'category_renderer.html'"></li>
  </ul>
</script>

<ul ui:sortable ng:model="categories_tree"> 
  <li ng-repeat="category in categories_tree | filter:searchCategory | orderBy:orderProp" 
      ng-include="'category_renderer.html'"></li>
</ul>
