{% load bitcoin_tags %}

<p>
Thanks for sending your request to participate in the issuance to
non-profits Freicoin Foundation program. Please wait for an admin to
review your data.
</p>

<p>
It is possible that you get contacted by e-mail for further
confirmations before your organization is validated and appears listed
to receive donations.
</p>

<p>
You can review and change the data submitted here:
</p>

<p>
{{ SITE_URL }}/#/donations/detail/{{ org.pk }}
</p>

<p>
This is the data you submitted:
</p>

<table border="1">

  <tr>
    <td>Name:</td>
    <td>{{ org.name }}</td>
  </tr>

  <tr>
    <td>Website:</td>
    <td>{{ org.website|urlize }}</a></td>
  </tr>

  <tr>
    <td>Email:</td>
    <td>{{ org.email }}</td>
  </tr>

  <tr>
    <td>Freicoin address:</td>
    <td>{{ org.freicoin_address_value|frc_address|safe }}</td>
  </tr>

  <tr>
    <td>Bitcoin address:</td>
    <td>{{ org.bitcoin_address_value|btc_address|safe }}</td>
  </tr>

  <tr>
    <td>Short description:</td>
    <td>{{ org.short_description }}</td>
  </tr>

  <tr>
    <td>Long Description:</td>
    <td>{{ org.long_description }}</td>
  </tr>
</table>
