<p>
Go back to <a href="#/donations">non-profit list</a>.
</p>

<div ng-show="org">

  <!-- TITTLES AND CONTENTS -->
  <div ng-show="org.validated_by">
    <h2>Validated organization: {{ org.name }}</h2>
  </div>

  <div ng-show="!org.validated_by">
    <div ng-show="!org.validated">
      <h2>Candidate organization: {{ org.name }}</h2>
      <p>
        This organization has its validation pending and doesn't have a
        donation adress with the foundation yet.
      </p>
    </div>

    <div ng-show="org.validated">
      <h2>Blocked organization: {{ org.name }}</h2>
      <p>
        This organization has been blocked.
      </p>
    </div>
  </div>

  <!-- BUTTONS -->
  <a ng-show="django.donations_admin ||
            (django.user_authenticated && django.user_id == org.user)"
     href="{{django.urls.donations_organization_edit}}{{org.id}}" class="btn btn-primary">
    Edit
  </a>

  <a ng-show="django.donations_admin && !org.validated_by"
     href="{{django.urls.donations_organization_validate}}{{org.id}}" class="btn btn-success">
    Validate
  </a>

  <a ng-show="django.donations_admin && org.validated_by"
     href="{{django.urls.donations_organization_validate}}{{org.id}}" class="btn btn-danger">
    Invalidate
  </a>

  <br>
  <br>
</div>

<!-- DETAIL -->
<p ng-show="!org">
  No organization found.
</p>

<table ng-show="org" border="1">

  <tr>
    <td>Name:</td>
    <td>{{ org.name }}</td>
  </tr>

  <tr>
    <td>Donation address:</td>
    <td><div ng-bind-html-unsafe="org.foundation_address | frc_address"></div></td>
  </tr>

  <tr>
    <td>Website:</td>
    <td><a href="{{ org.website }}">{{ org.website }}</a></td>
  </tr>

  <tr>
    <td>Description:</td>
    <td>{{ org.short_description }}</td>
  </tr>

  <tr>
    <td></td>
    <td>{{ org.long_description }}</td>
  </tr>

  <tr>
    <td>Freicoin address:</td>
    <td><div ng-bind-html-unsafe="org.freicoin_address | frc_address"></div></td>
  </tr>

</table>
