
  <!-- NAVIGATION -->
<p ng-show="type != 'validated'">
  Go to <a href="#/donations">organizations list</a>.
</p>

<p ng-show="type != 'candidate'">
  Go to <a href="#/donations/candidate">candidate organizations list</a>.
</p>

<p ng-show="security.inGroup('donations_mod') && type != 'blocked'">
  Go to <a href="#/donations/blocked">blocked organizations list</a>.
</p>

  <!-- TITTLES -->
<div ng-show="type == 'validated'">
  <h3>List of non-profit organizations:</h3>

  <p> 
    There are currently {{org_count}} organizations
    validated for this Freicoin issuance program.
  </p>
</div>

<div ng-show="type == 'candidate'">
  <h3>List of candidate organizations:</h3>

  <p> 
    There are currently {{org_count}} candidate
    organizations registered for this Freicoin issuance program.
  </p>
</div>

<div ng-show="type == 'blocked'">
  <h3>List of blocked organizations:</h3>

  <p> 
    There are currently {{org_count}} blocked
    organizations.
  </p>
</div>
  <!-- TEXT -->
<p>
  The non-profit organizations in the following list can receive
  Freicoins from the foundation depending on how much receive on
  donations.
</p>

<p>
  The Freicoin Foundation will add an extra 10% to the freicoins you
  donate to the non-profit you've chosen.
</p>

<p>
  If the donations exceed the issuance limit of 100,000 FRC per month,
  the funds will be distributed proportionally to the donations received.
</p>

<p>
  Each organization or project also has an individual limit of 10,000
  FRC per month.
</p>

  <!-- BUTTONS -->
<p ng-show="security.getUser().autenticated">
  <br>
  <a href="#/donations/join" class="btn btn-primary">Add new organization</a>
  <br>
</p>

  <!-- SEARCH -->
<div>
  Search: <input ng-model="query">

  Category: 
  <select ng-model="searchCategory"
     ng-options="category.name as category.name for category in categories_tree">
    <option value="">All</option>
  </select>

  Sort by:
  <select ng-model="orderProp">
    <option value="name">Alphabetical</option>
    <option value="-id">Newest</option>
    <option value="id">Oldest</option>
  </select>
</div>

<hr>

  <!-- LIST -->
<script type="text/ng-template" id="category_renderer.html">
  {{category.name}}

  <table border="1">
    <tr ng-repeat="org in category.organizations | filter:query | orderBy:orderProp">

      <td><a href="#/donations/detail/{{org.id}}/">{{org.name}}</a></td>
      <td>{{ org.short_description }}</td>
      <td><a explorer-link="{{org.foundation_address}}"></a></td>
      <td><a href="{{ org.website }}">{{ org.website }}</a></td>
    </tr>
  </table>
  <ul ui:sortable ng:model="category.child_categories">
    <li ng-repeat="category in category.child_categories | orderBy:orderProp"
        ng-include="'category_renderer.html'" ng-show="category.inner_organizations"></li>
  </ul>
</script>

<ul ui:sortable ng:model="categories_tree"> 
  <li ng-repeat="category in categories_tree | filter:searchCategory | orderBy:orderProp"
      ng-include="'category_renderer.html'" ng-show="category.inner_organizations"></li>
</ul>
