{% load bitcoin_tags %}

<p>
A new organization named {{ org.name }} has sent its request to participate in the issuance
to non-profits Freicoin Foundation program. Please review the request
at:
</p>

<p>
{{ SITE_URL }}/admin/donations/organization/{{ org.pk }}
</p>

<p>
If the request is valid, provide a foundation address and save.
</p>

<p>
This is the data submitted:
</p>

<table border="1">

  <tr>
    <td>Name:</td>
    <td>{{ org.name }}</td>
  </tr>

  <tr>
    <td>Website:</td>
    <td>{{ org.website|urlize }}</a></td>
  </tr>

  <tr>
    <td>Email:</td>
    <td>{{ org.email }}</td>
  </tr>

  <tr>
    <td>Freicoin address:</td>
    <td>{{ org.freicoin_address|frc_address|safe }}</td>
  </tr>

  <tr>
    <td>Bitcoin address:</td>
    <td>{{ org.bitcoin_address|btc_address|safe }}</td>
  </tr>

  <tr>
    <td>Short description:</td>
    <td>{{ org.short_description }}</td>
  </tr>

  <tr>
    <td>Long Description:</td>
    <td>{{ org.long_description }}</td>
  </tr>

</table>
