{% extends "base.html" %}

{% load bootstrap_toolkit %}

{% block nav-org-list %}<strong class="nav-active">Non-profits</strong>{% endblock %}

{% block content %}
<p>
Go back to <a href="{% url 'nonprofits' %}">non-profit list</a>.
</p>

<h3>Non-profit registration form:</h3>

<p>
  If you represent a non-profit organization fits the goals of the
  Freicoin Foundation you can submit a request to receive funds issued
  by the Freicoin Foundation according to the donations you receive
  through this web.
</p>
  
<p>
  Your donors can use Freicoin or Bitcoin to make their donations, but
  the Freicoin Foundation will only dispense Freicoins. Thus you must
  provide a Freicoin address. If you know how to use an address in
  both networks you can leave the Bitcoin address field empty.
  Otherwise provide a separate address for each currency as nothing
  prevents your donors from giving you Bitcoin.
</p>

<p>
  The foundation will complement Freicoin donations with the
  foundation's issuance funds, increasing the amount by 10%.
</p>

    {% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}

    <form action="" method="post" class="form-horizontal">
      {% csrf_token %}
      {{ form|as_bootstrap }}
      <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="Submit Request">
      </div>
    </form>

{% endblock %}

