{% extends "base.html" %}

{% load bootstrap_toolkit %}

{% block nav-donations-class %}active{% endblock %} 

{% block content %}
<p>
Go back to <a href="{% url 'nonprofits' %}">non-profit list</a>.
</p>

<h3>Non-profit registration form:</h3>

<p>
  Any non-profit organization can be listed to receive donations. If
  your organization or project is not legally a non-profit but fits
  the goals of the Freicoin Foundation (stated on the home page) you
  can still submit a request to receive funds issued by the Freicoin
  Foundation according to the donations you receive through this web.
</p>
  
<p>
  Although the foundation will only match Freicoin donations, please,
  provide a Bitcoin donation address just in case your donors donate
  Bitcoins by accident.
</p>

<p>
  The foundation will complement Freicoin donations with the
  foundation's issuance funds, increasing the amount by 10%.
</p>

    {% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}

    <form action="" method="post" class="form-horizontal">
      {% csrf_token %}
      {{ form|as_bootstrap }}
      <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="Submit Request">
      </div>
    </form>

{% endblock %}

