{% extends "base.html" %}

{% load staticfiles %}

{% block nav-donations %}<strong class="nav-active">Donations</strong>{% endblock %}

{% block content %}

<div ng-app="appDonations">
  <div ng-view></div>
</div>

{% endblock %}

{% block app-scripts %}

<script type="text/javascript">

angular.module('django_constants', [])
  .constant('django', {
    "user_authenticated": {% if user.is_authenticated %}1{% else %}0{% endif %},
    "user_id": {% if user.is_authenticated %} {{ user.id }} {% else %} null {% endif %},
    "donations_admin": {% if perms.donations.change_organization %} 1 {% else %} null {% endif %},
    "urls": {
      "frc_explorer": "{{ frc_explorer }}",
      "btc_explorer": "{{ btc_explorer }}",
      "list": "{% static 'donations/partials/organization_list.html' %}",
      "detail": "{% static 'donations/partials/organization_detail.html' %}",
      "join": "{% url 'org_new' %}",
      "edit": "{% url 'org_edit' %}",
      "validate": "{% url 'org_validate' %}",
      "json": "{% url 'org_json' %}",
    },
    "urlForType": function (type){

      if (type == "validated"){
        return "{% url 'org_json' %}";
      } else if (type == "candidates"){
        return "{% url 'candidates_json' %}";
      } else if (type == "blocked"){
        return "{% url 'blocked_json' %}";
      }
      return "";
    }
  });

</script>

<script src="{% static 'donations/js/app.js' %}"></script>
<script src="{% static 'donations/js/controllers.js' %}"></script>
<script src="{% static 'utils/js/filters.js' %}"></script>
{% endblock %}
