{% extends "base.html" %}

{% load bootstrap_toolkit %}

{% block nav-trade %}<strong class="nav-active">Trade</strong>{% endblock %}

{% block content %}
<p>
Go back to <a href="{% url 'trade' %}">merchant list</a>.
</p>

<h3>Merchant edit form:</h3>

<p>
  If you're a merchant that accepts Freicoin as payment you should
  advertise yourself for free here.
</p>
  
<p>
  If you accept donations but your organization doesn't qualify as
  non-profit you can also advertise yourself to receive Freicoin
  donations here. The foundation won't increase the donations you
  receive through this section.
</p>

 <script src="http://code.jquery.com/jquery.js"></script>
  <script type="text/javascript">
  /*<![CDATA[*/
  jQuery(function() {
      var form = jQuery("#merchant_form");
      form.submit(function(e) {
          jQuery("#submit_button").attr('disabled', true)
          jQuery("#submit_wrapper").append('<span>Sending message, please wait... </span>')
          jQuery("#ajax_wrapper").load(
              form.attr('action') + ' #ajax_wrapper',
              form.serializeArray(),
              function(responseText, responseStatus) {
                  jQuery("#submit_button").attr('disabled', false)
              }
          );
          e.preventDefault(); 
      });
  });
  /*]]>*/
  </script>

  <form action="{% url 'mer_edit' %}" method="post"
        class="form-horizontal" id="merchant_form">
    <div id="ajax_wrapper">
      {% if msg %}
        <p style="color: Green;">
          {{ msg }}
        </p>        
      {% else %}
        {% csrf_token %}
        {{ form.non_field_errors }}
        {{ form|as_bootstrap }}
        <div class="form-actions" id="submit_wrapper">
          <input type="submit" class="btn btn-primary" value="Submit Request" id="submit_button">
        </div>
      {% endif %}
    </div>
  </form>

{% endblock %}
