
{% load bitcoin_tags %}

<h3>Recent Freicoin faucet sends:</h3>

<p>
  Return to <a href="#/faucet">faucet</a>.
</p>

<table border="1">
  <tr>
    <th>Timestamp</th>
    <th>IP Address</th>
    <th>FRC Address</th>
    <th>Transaction ID</th>
  </tr>
  {% for send in send_list %}
  <tr>
    <td>{{ send.timestamp | date:"H:i:s d/m/Y" }}</td>
    <td>{{ send.ip_address }}</td>
    <td>{{ send.frc_address|frc_address|safe }}</td>
    <td>{{ send.tx_id|frc_tx|safe }}</td>
  </tr>
  {% endfor %}
</table>
