{% load staticfiles %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>
   

    <div class="container">

      <header class="row">
        <div class="span12">

          <nav class="navbar">
            <div class="navbar-inner">

              {% block nav %}

              <div class="row">

                <a id="logo-header-link" class="brand" href="/">
                  <table>
                    <tr>
                      <td><img src="{% static 'img/logo-freicoin.png' %}" alt="Logo Header"/></td>
                      <td><h1>Freicoin Foundation</h1></td>
                      <td><img src="{% static 'img/arctictern.jpg' %}" alt="Artic Tern"/></td>
                    </tr>
                  </table>
                </a>

                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                  <span class="icon-th-list"></span>
                </a>
              </div>
              
              <div class="nav-collapse collapse">
                <ul class="nav">
                  <li>{% block nav-home %}<a href="{% url 'home' %}">Home</a>{% endblock %}</li>
                  <li>{% block nav-faucet %}<a href="{% url 'faucet' %}">Faucet</a>{% endblock %}</li>
                  <li>{% block nav-org-list %}<a href="{% url 'organization_list' %}">Non-profits</a>{% endblock %}</li>
                  <li>{% block nav-new-org %}<a href="{% url 'organization_new' %}">Register</a>{% endblock %}</li>
                  <li>{% block nav-about %}<a href="{% url 'about' %}">About</a>{% endblock %}</li>
                </ul>
              </div>

              {% endblock %}
              
            </div>
          </nav>
        </div>
      </header>

      <div class="row" id="main-content">
        {% block content %}
        {% endblock content %}
      </div>

      {% block footer %}
      <div id="footer">
        <div class="container">
          <footer class="footer">
            <p id="logo-footer">
              <a id="logo-footer-link" class="brand" href="/">
                <img src="{% static 'img/logo-freicoin-text.png' %}" alt="Logo Footer"/>
              </a>
              <br />
            </p>

            <p id="copyright-footer">
              <span id="copyright" class="copyright">Copyright &copy; {{ site.time | date:"%Y" }} <a href="/copyright/">Freicoin Developers</a>
            </p>
          </footer><!-- .footer -->
        </div><!-- .container -->
      </div><!-- #footer -->
      {% endblock %}

    </div>

    <!-- JavaScript plugins (requires jQuery) -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- <script src="js/bootstrap.min.js"></script> -->

    <!-- Served from http://www.bootstrapcdn.com/ -->
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css"
          rel="stylesheet">

    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>

    <!-- Optionally enable responsive features in IE8 -->
    <!-- <script src="js/respond.js"></script> -->
</body>
</html>
