{% extends "base.html" %}

{% block nav-home-class %} active{% endblock %}

{% block content %}

   <p>
    The Freicoin Foundation seeks to create a world where commonplace
    non-usurious complementary currencies inspired by the works of Silvio
    Gesell are brought into being through economic development, charitable
    action, and the support of global commons and which engender perpetual
    prosperity through sustainable development.
  </p>

  <p>
    The Freicoin Foundation will issue 80% of the total initial
    Freicoins through several issuance mechanisms that are safe from
    potential corruption from the Foundation management team itself.
  </p>

  <p>
    One of those mechanisms is to match Freicoin donations to
    non-profit organizations and other projects listed on this site.
    The foundation will periodically give away some freicoin to those
    organizations in proportion to how much they have received in
    donations through this site. Help decide how the Foundation's
    funds are going to be used by donating to your preferred
    non-profit organizations and projects on the <b>donations</b>
    section. The foundation will increase the amount of FRC you donate
    by 10%.
  </p>

  <p>
    If you're a non-profit organization or part of a project that fits
    the goals of the Freicoin Foundation (described in the first
    paragraph of this page), <b>register</b> in this site and list
    your organization on the <b>donations</b> section. Start receiving
    Freicoin donations as well as newly issued Freicoins.
  </p>

  <p>
    If you're a merchant accepting Freicoin you should advertise
    your business in the <b>trade</b> section so the recipients of
    donations, faucet funds or just any other Freicoin holders know
    that they can spend their Freicoins in exchange of your products.
  </p>

  <p>
    If you don't have any Freicoin and want to get some, go to the
    <b>faucet</b> to start using them. 
  </p>

{% endblock %}
