{% extends "base.html" %}

{% block nav-trade-class %} active{% endblock %}

{% load staticfiles %}

{% block content %}
{% verbatim %}

<div ng-app="foundationApp">

<footer class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle"
              data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/">Freicoin Foundation</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav" ng-controller="NavigationCtrl">
        <li ng-class="navClass('donations')"><a href="#/donations">Donations</a></li>
        <li ng-class="navClass('trade')"><a href="#/trade">Trade</a></li>
        <li ng-class="navClass('about')"><a href="#/about">About</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <form name="form" ng-controller="LoginCtrl" novalidate>

              <div ng-show="security.getUser().autenticated">
                <input class="btn btn-xs btn-default" type="button" value="Logout" 
                       ng-click="logout();" />
              </div>
              <div ng-show="!security.getUser().autenticated">
                <input type="text" name="login" id="username" ng-model="username" 
                       size="10" auto-fill-sync required/>
                <input type="password" name="password" id="password" ng-model="password" 
                       size="10" auto-fill-sync required/>
                <input class="btn btn-xs btn-default" type="submit" value="Login" 
                       ng-disabled="form.$invalid" ng-click="login();" />
                <a class="btn btn-xs btn-default" href="#/register"/>Register</a>
             </div>
         </form>
        </li>
      </ul>

    </div>
  </div>
</footer>

<div ng-switch="messages.length != null" ng-cloak>
  <div ng-switch-when="true">
    <div class="alert alert-{{message_style}}" ng-repeat="message in messages">
      <li>{{ message }}</li>
    </div>
    
  </div>
  <!-- If doesn't has length it's an object/dictionary -->
  <div ng-switch-when="false">
    <div class="alert alert-{{message_style}}" ng-repeat="(key, values) in messages">

      <div ng-switch="isString(values)">
        <div ng-switch-when="true">
          <strong> {{ key }} </strong> {{ values }}
        </div>
        <div ng-switch-when="false">

          <div ng-switch="values.length > 1">
            <div ng-switch-when="true">
              <strong> {{ key }} </strong>
              <ul ng-repeat="value in values">
                <li>{{ value }}</li>
              </ul>
            </div>
            <div ng-switch-when="false">
              <strong> {{ key }} </strong> {{ values[0] }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <div ng-view></div>
</div>

{% endverbatim %}
{% endblock %}

{% block app-scripts %}

<script src="{% static 'js/app.js' %}"></script>
<script src="{% static 'js/directives/commonDirs.js' %}"></script>
<script src="{% static 'js/directives/validationDirs.js' %}"></script>

<script src="{% static 'js/controllers/navigationCtrl.js' %}"></script>
<script src="{% static 'js/controllers/accountsCtrls.js' %}"></script>
<script src="{% static 'js/controllers/tradeCtrls.js' %}"></script>
<script src="{% static 'js/controllers/donationsCtrls.js' %}"></script>

<script src="{% static 'js/services/commonSrvs.js' %}"></script>
<script src="{% static 'js/services/securitySrv.js' %}"></script>
<script src="{% static 'js/services/tradeSrvs.js' %}"></script>
<script src="{% static 'js/services/donationsSrvs.js' %}"></script>

{% endblock %}

