{% extends "base.html" %}

{% block nav-trade-class %} active{% endblock %}

{% load staticfiles %}

{% block content %}
{% verbatim %}

<div ng-app="foundationApp">

<footer ng-controller="NavigationCtrl" class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle"
              data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/">Freicoin Foundation</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav" >
        <li ng-class="navClass('donations')"><a href="#/donations">Donations</a></li>
        <li ng-class="navClass('trade')"><a href="#/trade">Trade</a></li>
        <li ng-class="navClass('about')"><a href="#/about">About</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right" ng-cloak>
        <li ng-show="security.getUser().autenticated" ng-class="navClass('profile')" >
          <a href="#/profile" ng-bind="security.getUser().username"></a>
        </li>
        <li ng-show="security.getUser().autenticated" ng-controller="LogoutCtrl">
          <a ng-click="logout();" href=""/>Logout</a>
        </li>
        <li ng-show="!security.getUser().autenticated">
          <a data-toggle="modal" href="#loginModal"/>Login</a>
        </li>
        <li ng-show="!security.getUser().autenticated" ng-class="navClass('register')">
          <a href="#/register"/>Register</a>
        </li>
      </ul>
    </div>
  </div>
</footer>

<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" 
     aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog" ng-controller="LoginCtrl">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Log in</h4>
      </div>
      <form name="form" novalidate>
        <div class="modal-body">

          <input form-input-id="username" model="login" auto-fill-sync required 
                 label="Username" maxlength="40">

          <input form-input-id="password" model="login" type="password" auto-fill-sync required 
                 label="Password" maxlength="200">

          <div class="alert alert-danger" ng-repeat="(key, values) in errorMessages">
            <div ng-switch="values.length > 1">
              <div ng-switch-when="true">
                
                <ul ng-repeat="value in values">
                  <li>{{ value }}</li>
                </ul>
              </div>
              <div ng-switch-when="false">
                {{ values[0] }}
              </div>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <div class="form-actions">
            <input type="submit" ng-disabled="form.$invalid || disableLoginSubmit" ng-click="login()"
                   value="Authenticate" class="btn btn-primary ">

            <input type="button" data-dismiss="modal"
                   value="Cancel" class="btn btn-danger">
          </div>
          <br>
          <a href="#/password_reset" data-dismiss="modal">Forgot Password?</a>
        </div>
      </form>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div ng-switch="messages.length != null" ng-cloak>
  <div ng-switch-when="true">
    <div class="alert alert-{{message_style}}" ng-repeat="message in messages">
      <li>{{ message }}</li>
    </div>
    
  </div>
  <!-- If doesn't has length it's an object/dictionary -->
  <div ng-switch-when="false">
    <div class="alert alert-{{message_style}}" ng-repeat="(key, values) in messages">

      <div ng-switch="isString(values)">
        <div ng-switch-when="true">
          <strong> {{ key }} </strong> {{ values }}
        </div>
        <div ng-switch-when="false">

          <div ng-switch="values.length > 1">
            <div ng-switch-when="true">
              <strong> {{ key }} </strong>
              <ul ng-repeat="value in values">
                <li>{{ value }}</li>
              </ul>
            </div>
            <div ng-switch-when="false">
              <strong> {{ key }} </strong> {{ values[0] }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <div ng-view></div>
</div>

{% endverbatim %}
{% endblock content %}

{% block app-scripts %}

<script src="{% static 'js/app.js' %}"></script>
<script src="{% static 'js/directives/commonDirs.js' %}"></script>
<script src="{% static 'js/directives/validationDirs.js' %}"></script>

<script src="{% static 'js/controllers/navigationCtrl.js' %}"></script>
<script src="{% static 'js/controllers/accountsCtrls.js' %}"></script>
<script src="{% static 'js/controllers/tradeCtrls.js' %}"></script>
<script src="{% static 'js/controllers/donationsCtrls.js' %}"></script>

<script src="{% static 'js/services/commonSrvs.js' %}"></script>
<script src="{% static 'js/services/securitySrv.js' %}"></script>
<script src="{% static 'js/services/tradeSrvs.js' %}"></script>
<script src="{% static 'js/services/donationsSrvs.js' %}"></script>

{% endblock app-scripts %}

