{% extends "base2.html" %}

{% block nav-trade-class %} active{% endblock %}

{% load staticfiles %}

{% block content %}

<div ng-app="foundationApp">

<footer class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle"
              data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/">Freicoin Foundation</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav" ng-controller="NavigationCtrl">
        {% block nav %}
        <li><a href="{% url 'faucet' %}">Faucet</a></li>
        <li ng-class="navClass('donations')"><a href="#/donations">Donations</a></li>
        <li ng-class="navClass('trade')"><a href="#/trade">Trade</a></li>
        <li ng-class="navClass('about')"><a href="#/about">About</a></li>
        {% endblock %}
      </ul>
      <ul class="nav navbar-nav navbar-right">{% block auth %}
        {% if user.is_authenticated %}
          <li class="{% block nav-logout-class %}{% endblock %}">{% block nav-logout %}<a href="{% url 'logout' %}">Logout</a>{% endblock %}</li>
        {% else %}
          <li class="{% block nav-register-class %}{% endblock %}">{% block nav-register %}<a href="{% url 'register' %}">Register</a>{% endblock %}</li>
          <li class="{% block nav-login-class %}{% endblock %}">{% block nav-login %}<a href="{% url 'login' %}">Login</a>{% endblock %}</li>
        {% endif %}
      {% endblock auth %}</ul>
    </div>
  </div>
</footer>

{% verbatim %}

<div ng-switch="messages.length != null">
  <div ng-switch-when="true">
    <div class="alert alert-{{message_style}}" ng-repeat="message in messages">
      <li>{{ message }}</li>
    </div>
    
  </div>
  <!-- If doesn't has length it's an object/dictionary -->
  <div ng-switch-when="false">
    <div class="alert alert-{{message_style}}" ng-repeat="(key, values) in messages">

      <div ng-switch="isString(values)">
        <div ng-switch-when="true">
          <strong> {{ key }} </strong> {{ values }}
        </div>
        <div ng-switch-when="false">

          <div ng-switch="values.length > 1">
            <div ng-switch-when="true">
              <strong> {{ key }} </strong>
              <ul ng-repeat="value in values">
                <li>{{ value }}</li>
              </ul>
            </div>
            <div ng-switch-when="false">
              <strong> {{ key }} </strong> {{ values[0] }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <div ng-view></div>
</div>

{% endverbatim %}
{% endblock %}

{% block app-scripts %}

<script type="text/javascript">

angular.module('django_constants', [])
  .constant('django', {
    "user_authenticated": {% if user.is_authenticated %}1{% else %}0{% endif %},
    "user_id": {% if user.is_authenticated %} {{ user.id }} {% else %} null {% endif %},
    "trade_admin": {% if perms.trade.change_merchant %} 1 {% else %} null {% endif %},
    "donations_admin": {% if perms.donations.change_organization %} 1 {% else %} null {% endif %},
    "csrf_token": "{{ csrf_token }}",
    "static_urls": {
      "home": "{% static 'html/home.html' %}",
      "about": "{% static 'html/about.html' %}",
      "copyright": "{% static 'html/copyright.html' %}",
      "trade_list": "{% static 'html/trade/merchant_list.html' %}",
      "trade_detail": "{% static 'html/trade/merchant_detail.html' %}",
      "trade_edit": "{% static 'html/trade/merchant_form.html' %}",
      "donations_list": "{% static 'donations/partials/organization_list.html' %}",
      "donations_detail": "{% static 'donations/partials/organization_detail.html' %}"
    },
    "urls": {
      "trade_categories": "{% url 'trade_categories' %}",
      "trade_category_tree": "{% url 'trade_category_tree' %}",
      "trade_merchant_detail": "{% url 'trade_merchant_detail' %}",
      "trade_merchant_edit": "{% url 'trade_merchant_edit' %}",
      "trade_merchant_validate": "{% url 'trade_merchant_validate' %}",
      "frc_explorer": "{{ frc_explorer }}",
      "btc_explorer": "{{ btc_explorer }}",
      "donations_categories": "{% url 'donations_categories' %}",
      "donations_category_tree": "{% url 'donations_category_tree' %}",
      "donations_organization_detail": "{% url 'donations_organization_detail' %}",
      "donations_organization_edit": "{% url 'donations_organization_edit' %}",
      "donations_organization_validate": "{% url 'donations_organization_validate' %}"
    }
  });

</script>

<script src="{% static 'js/app.js' %}"></script>

<script src="{% static 'js/controllers/navigation.js' %}"></script>
<script src="{% static 'js/controllers/trade.js' %}"></script>

<script src="{% static 'js/services/common.js' %}"></script>
<script src="{% static 'js/services/trade.js' %}"></script>

<script src="{% static 'donations/js/controllers.js' %}"></script>
<script src="{% static 'donations/js/services.js' %}"></script>
<script src="{% static 'js/filters.js' %}"></script>

{% endblock %}

