{% extends "base.html" %}

{% load bootstrap_toolkit %}

{% block nav-new-org %}<strong class="nav-active">Register</strong>{% endblock %}

{% block content %}

<h3>Non-profit registration form:</h3>

<p>
  If you represent a non-profit organization fits the goals of the
  Freicoin Foundation you can submit a request to receive funds issued
  by the Freicoin Foundation according to the donations you receive
  through this web.
</p>
  
<p>
  Your donors can use Freicoin or Bitcoin to make their donations, but
  the Freicoin Foundation will only dispense Freicoins. Thus you must
  provide a Freicoin address. If you know how to use an address in
  both networks you can leave the Bitcoin address field empty.
  Otherwise provide a separate address for each currency as nothing
  prevents your donors from giving you Bitcoin.
</p>

    {% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}

<form action="" method="post" class="form-horizontal">
    {% csrf_token %}
    {{ form|as_bootstrap }}
    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="Submit Request">
    </div>
</form>

{% endblock %}

