{% extends "base.html" %}

{% block nav-org-list %}<strong class="nav-active">Non-profits</strong>{% endblock %}

{% block content %}
<h2>Organizations to receive matched donations:</h2>

<table border="1">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Web</th>
  </tr>
  {% for org in organization_list %}
  <tr>
    <td><a href="{% url 'donations.views.organization_detail' org.pk %}">{{ org.name }}</a></td>
    <td>{{ org.short_description }}</td>
    <td>{{ org.website }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
