{% extends "base.html" %}

{% block nav-org-list %}<strong class="nav-active">Non-profits</strong>{% endblock %}

{% block content %}
<h3>List of non-profit organizations:</h3>

<p>
  The non-profit organizations in the following list can receive
  Freicoins from the foundation depending on how much receive on
  donations. The foundation will match donations so that the more
  Freicoins and/or Bitcoins you donate to them, the more they will
  receive from the foundation.
</p>

<table border="1">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Web</th>
  </tr>
  {% for org in organization_list %}
  <tr>
    <td><a href="{% url 'donations.views.organization_detail' org.pk %}">{{ org.name }}</a></td>
    <td>{{ org.short_description }}</td>
    <td>{{ org.website }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
