<h3>User registration form:</h3>
<p>
  You have to create a user to register non-profit organizations or merchants.
</p>

<form name="form" novalidate>

  <div id="div_id_username" class="form-group">
    <label for="id_username" class="control-label requiredField">Username<span class="asteriskField">*</span></label>
    <div class="controls ">
      <input id="id_username" maxlength="40" name="username" ng-model="register.username" 
             type="text" class="textinput textInput form-control" required/>
      <p id="hint_id_username" class="help-block">Required. 30 characters or fewer. Letters, digits and @/./+/-/_ only.</p>
      <p ng-show="form.username.$dirty && form.username.$error.required" 
         class="help-block" style="color:red">This field is required.
      </p>
    </div>
  </div>

  <div id="div_id_email" class="form-group">
    <label for="id_email" class="control-label requiredField">Email<span class="asteriskField">*</span></label><div class="controls ">
      <input id="id_email" maxlength="75" name="email" required ng-model="register.email" 
             type="email" class="textinput textInput form-control" />
        <p ng-show="form.email.$dirty && form.email.$error.required" 
           class="help-block" style="color:red">
          This field is required.
        </p>
        <p ng-show="form.email.$dirty && form.email.$error.email" 
           class="help-block" style="color:red">
          Enter a valid email address.
        </p>
    </div>
  </div>

  <div id="div_id_password" class="form-group">
    <label for="id_password" class="control-label requiredField">
			Password<span class="asteriskField">*</span></label>
      <input id="id_password" maxlength="200" name="password" required ng-model="register.password" 
             type="password" class="textinput textInput form-control" />
        <p ng-show="form.password.$dirty && form.password.$error.required" 
           class="help-block" style="color:red">
          This field is required.
        </p>
  </div>

  <div id="div_id_password2" class="form-group">
    <label for="id_password2" class="control-label  requiredField">
			Password confirmation<span class="asteriskField">*</span></label>
      <input id="id_password2" maxlength="200" name="password2" required ng-model="register.password2" 
             type="password" class="textinput textInput form-control" />
      <p id="hint_id_password2" class="help-block">Enter the same password as above, for verification.</p>
        <p ng-show="form.password2.$dirty && form.password2.$error.required" 
           class="help-block" style="color:red">
          This field is required.
        </p>
    </div>
</div>

  <!-- <div -->
  <!--    vc-recaptcha -->
  <!--    key="6Lc0geUSAAAAALWQZpRq9Eo-2CQzb-s3A6AU7RcG" -->
  <!--    theme="clean"> -->
  <!-- </div> -->

  <input type="submit" class="btn btn-primary" ng-disabled="form.$invalid" ng-click="submit();" 
         value="Complete registration" />
</form>
