<h3>List of non-profit organizations:</h3>

<p>
  The non-profit organizations in the following list can receive
  Freicoins from the foundation depending on how much receive on
  donations.
</p>

<p>
  You can donate Bitcoins or Freicoins, but if you donate FRC, the
  foundation will give 10% extra freicoins to the non-profit you've chosen.
</p>

<p>
  If the donations exceed the issuance limit of 1,000,000 FRC per month,
  the funds will be distributed proportionally to the donations received.
</p>

<p> 
  There are currently {{organization_list.length}} nonprofits
  registered and validated for this Freicoin issuance program.
</p>

<div>
  Search: <input ng-model="query">
  Sort by:
  <select ng-model="orderProp">
    <option value="name">Alphabetical</option>
    <option value="-id">Newest</option>
    <option value="id">Oldest</option>
  </select>
</div>

<hr>
<table border="1">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Address</th>
    <th>Web</th>
  </tr>

  <tr ng-repeat="org in organization_list | filter:query | orderBy:orderProp">

    <td><a href="#/detail/{{org.id}}">{{org.name}}</a></td>
    <td>{{ org.short_description }}</td>
    <td>{{ org.foundation_address }}</td>
    <td><a href="{{ org.website }}">{{ org.website }}</a></td>
  </tr>

</table>
