<p>
Go back to <a href="#/">non-profit list</a>.
</p>

<p ng-show="django.user_authenticated && django.user_id == org.user">
<br>
<a href="edit/{{org.id}}" class="btn btn-primary">Edit</a>
<br>
</p>

<h2 ng-show="org.foundation_address.length">Validated non-profit: {{ org.name }}</h2>

<p ng-show="org && !org.foundation_address.length">
  This organization has its validation pending and doesn't have a donation adress with the foundation yet.
</p>

<p ng-show="!org">
  No organization found.
</p>

<table ng-show="org" border="1">

  <tr>
    <td>Name:</td>
    <td>{{ org.name }}</td>
  </tr>

  <tr>
    <td></td>
    <td>{{ org.short_description }}</td>
  </tr>

  <tr>
    <td>Website:</td>
    <td><a href="{{ org.website }}">{{ org.website }}</a></td>
  </tr>

  <tr>
    <td>Email:</td>
    <td>{{ org.email }}</td>
  </tr>

  <tr>
    <td>Donation address:</td>
    <td>{{ org.foundation_address }}</td>
  </tr>

  <tr>
    <td>Description:</td>
    <td>{{ org.long_description }}</td>
  </tr>

</table>
