
  <!-- TITTLES AND NAVIGATION -->
<div ng-show="type == 'validated'">
  <h3>List of non-profit organizations:</h3>

  <p> 
    There are currently {{organization_list.length}} organizations
    validated for this Freicoin issuance program.
  </p>

  <p>
    See <a href="#/candidates">candidates list</a>.
  </p>

  <p ng-show="django.donations_admin">
    See <a href="#/blocked">blocked organizations list</a>.
  </p>
</div>

<div ng-show="type == 'candidates'">
  <h3>List of candidate organizations:</h3>

  <p> 
    There are currently {{organization_list.length}} candidate
    organizations registered for this Freicoin issuance program.
  </p>

  <p>
    Go back to <a href="#/">non-profit list</a>.
  </p>
</div>

<div ng-show="type == 'blocked'">
  <h3>List of blocked organizations:</h3>

  <p> 
    There are currently {{organization_list.length}} blocked
    organizations.
  </p>

  <p>
    Go back to <a href="#/">non-profit list</a>.
  </p>
</div>

  <!-- TEXT -->
<p>
  The non-profit organizations in the following list can receive
  Freicoins from the foundation depending on how much receive on
  donations.
</p>

<p>
  You can donate Bitcoins or Freicoins, but if you donate FRC, the
  foundation will give 10% extra freicoins to the non-profit you've chosen.
</p>

<p>
  If the donations exceed the issuance limit of 1,000,000 FRC per month,
  the funds will be distributed proportionally to the donations received.
</p>

  <!-- BUTTONS -->
<p ng-show="django.user_authenticated">
  <br>
  <a href="{{ django.urls.join }}" class="btn btn-primary">Add new organization</a>
  <br>
</p>

  <!-- SEARCH -->
<div>
  Search: <input ng-model="query">
  Sort by:
  <select ng-model="orderProp">
    <option value="name">Alphabetical</option>
    <option value="-id">Newest</option>
    <option value="id">Oldest</option>
  </select>
</div>

<hr>

  <!-- LIST -->
<table border="1">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Address</th>
    <th>Web</th>
  </tr>

  <tr ng-repeat="org in organization_list | filter:query | orderBy:orderProp">

    <td><a href="#/detail/{{org.id}}/">{{org.name}}</a></td>
    <td>{{ org.short_description }}</td>
    <td><div ng-bind-html-unsafe="org.foundation_address | frc_address"></div></td>
    <td><a href="{{ org.website }}">{{ org.website }}</a></td>
  </tr>

</table>
